* {
    padding: 0.1px;
    margin:0px;
    box-sizing: border-box;
    font-family: courier,verdana,sans-serif;
}
html {
    scroll-behavior: smooth;
    user-select: none;
}
body {
    height: 100vh;
}
/*****HEADER SECTION START******/
header {
    height: 40px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #16a085;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
}
header > h1 {
     color: white;
     letter-spacing: 2px;
}
ul {
    list-style-type: none;
    display: flex;
}
ul li a:link, a:visited {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    padding: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
ul a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    width: 0%;
    display: block;
    left: 50%;
    bottom: 2px;
    transition: all 0.3s ease-in-out;
}
ul a:hover::after,a:focus::after {
    width: 100%;
    left: 0%;
}
header .btn {
    display: none;
    position: relative;
    height: 25px;
    border: 1px solid transparent;
    width: 30px;
}
header .btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    box-shadow: 0px 10px 0px white;
}
header .btn::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
}
/*****HEADER SECTION END******/
section > div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section > div:nth-child(even) {
    background-color: rgba(0,0,0,0.9);
    color: white;
}
section h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: normal;
}
article {
    padding: 0px 10px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5rem;
}
article > button {
    display: inline-block;
    background-color: black;
    padding: 8px 11px;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}
article > button:hover {
    background-color: rgba(0,0,0,0.6);
}
aside {
    padding: 0px 10px;
}
aside img {
    width: 100%;
    object-fit: cover;
}
.x {
    color: #fff;
}
@media screen and (max-width:500px) {
 ul {
    position: fixed;
    background-color: #16a085;
    left: 0px;
    right: 0px;
    top: 40px;
    flex-direction: column;
    opacity: 0.9;
 }
 .toggle {
    display: none;
 }
 ul li a:link,a:visited {
    font-size: 1.5rem;
 }
 header .btn {
    display: block;
  }
 section > div {
    flex-direction: column;
    justify-content: center;
 }
 article {
    margin-bottom: 20px; 
 } 
}
